@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.section_bottom_margin {
  padding: 0px 0px 20px 0px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.nested_layer_flex {
  display: flex;
  justify-content: space-between;
}



















.editor_wrap {
  display: flex;
  flex-direction: column;
  background: #202020;
  padding: 20px;
  border-radius: 6px;
  gap: 20px;
  width: 100%;
  max-width: 1100px;
}

.property-grid {
  display: flex;
  flex-direction: column;
}

.scene-editor-modal {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.editor-header {
  display: flex;
  justify-content: end;
}

.editor-header button {
  color: #fff;
  padding: 6px 16px;
  border-radius: 4px;
  background: #ff00004f;
}

.ed_fixed {
  position: fixed;
  background: #000000b3;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  color: #fff;
}

h3.l_label {
  color: #808080;
  font-weight: 700;
  margin-bottom: 10px;
}

.scene-layers-list ul li:not(:last-child) {
  border-bottom: 1px solid #44444496;
}

.property-row {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border: 1px solid #44444463;
}

.scene-layers-list ul li {
  justify-content: space-between;
  padding: 4px 0px;
  text-transform: capitalize;
}

.scene-layers-list ul {
  display: flex;
  flex-direction: column;

}

.scene-layers-list ul li button:nth-child(2) {
  color: #ff0000d6;
}

.mod_layerr {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.t_l_m {
  display: grid;
  grid-template-columns: 75% 1fr;
  gap: 30px;
}

.editor-controls {
  display: flex;
  justify-content: end;
  padding: 6px 12px;
  gap: 16px;
}

.editor-controls button:nth-child(1) {
  background: #08550866;
}

.editor-controls button:nth-child(2) {
  background: #ff00004f;
}

.editor-controls button {
  color: #fff;
  padding: 6px 16px;
  border-radius: 4px;
}














.popup_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_content {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  position: relative;
}

.canvas_wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #0000009c;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.temp_canvas_layers li {
  display: flex;
  justify-content: space-between;
}

ul.temp_canvas_layers li button {
  background: #ff00004d;
  padding: 4px;
  border-radius: 38px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button_c_scene {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #00800054;
  padding: 8px 16px;
  color: #fff;
  border-radius: 2px;
}

ul.temp_canvas_layers {
  background: rgb(32 39 45);
  padding: 20px 0px;
  text-transform: uppercase;
}

.preview_overlay {
  display: flex;
  position: relative;
  gap: 20px;
  background: #01011c;
}

ul.temp_canvas_layers {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
  width: 140px;
}

ul.temp_canvas_layers li {
  border-bottom: 1px solid #fff;
  padding: 10px;
}


/*storyline css*/

.st_line_wrap_outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}



.svg_type_img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.st_wrapper_inner h3 {
  position: absolute;
  left: 10px;
  background: #919191;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
  top: 10px;
}

.st_wrapper_inner {
  position: relative;
}


.st_line_buttons_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.char_type {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.svg_type_img img {
  height: 70px;
  width: 70px;
  object-fit: contain;
}

.playloads {
  position: relative;
}

.svg_type_img {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* timeline tab css here */

.scene_tab_b {
  padding: 8px 16px;
  background: unset;
  border-radius: 4px 4px 0px 0px;
  color: #fff;
  border: 1px solid #8080805c;
  border-bottom: unset;
}

.ac_scenes {
  background: rgb(59 130 246);
}

.ac_scene {
  background: rgb(209 213 219);
  color: #202020;
}



.p_inner_wrapper {
  border: 2px solid rgb(37 99 235) !important;
}

.p_inner_wrapper img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.st_line_buttons_outer button {
  background: rgb(59 130 246 / 50%);
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
}

.drag_view_line {
  margin: 10px 0px 0px 0px !important;
}

.scene_main_img {
  width: 100%;
  margin-left: 0;
  height: 28px;
}

.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup_content {
  background: #808080;
  padding: 35px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 900px;
}

.popup_content svg {
  color: white;
  position: absolute;
  right: -8px;
  top: -4px;
}

.random_suggession {
  padding: 15px 0px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize
}

span.active_rounder {
  background: green;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 9999;
  border-radius: 100%;

}

.scene_outer_wrapper img {
  width: 100%;
  height: 100px;
}

.scene_outer_wrapper {
  position: relative;
  cursor: pointer;
  border: 2px solid #fff !important;
  height: 104px;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 26px;
  top: 0;
  left: 0;
  background: #00000059;
  display: flex;
  justify-content: center;
  width: 100%;
}

.popup-close-button {
  position: absolute;
  right: 18px;
  top: 22px;
}

h3.popup-title {
  padding-left: 29px;
  font-size: 22px;
  color: #bbbaba;
  font-weight: 600;
}

.popup-container {
  max-width: 1000px;
  margin: auto;
  background: rgb(32 39 45);
  padding: 40px;
  position: relative;
  color: #fff;
  height: 700px;
  overflow-y: scroll;
  width: 100%;
}

#active_scene {
  border: 2px solid rgb(37 99 235) !important;
}

.select_layers_wrapper {
  position: relative;
}

.get_all_layers {
  position: absolute;

  right: 0;
  top: 0;

  border: 1px solid #80808073;
  border-radius: 4px;
  margin-top: 3px;
  font-size: 16px;
  text-transform: capitalize;
}

.scene_outer_wrapper img {
  object-fit: cover;
  height: 100px;
}

h3.text-green {
  color: rgb(37 99 235);
}

.scene_name {
  position: absolute;
  top: 6px;
  left: 6px;
  background: #1f1f1f;
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
}

.popup-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0 !important;
  left: 30px !important;
  width: 5px;
  background-color: #4caf50;
  z-index: 0;

}

button.scene_button {
  position: absolute;
  top: 5px;
  background: rgb(239 68 68);
  padding: 2px 6px;
  right: 8px;
  border-radius: 10px;
  font-size: 12px;
}

.scenes_contrainer {
  display: grid;
  padding: 0px 0px 0px 12px;
  gap: 12px;

}


.popup_close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.add_button,
.search_button {
  margin-top: 1rem;
  padding: 0.4rem 0.8rem;
}

.input_single_box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.error_msg {
  color: red;
}




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.svg-wrapper svg {
  width: 100%;
}

.drag_w {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}


.button_l_w {
  color: #fff;
  z-index: 99999;
  position: absolute;
  top: 2px;
  right: 15px;
}

.layers_w {
  position: absolute;
  top: 19px;
  background: rgb(30 41 59);
  padding: 4px 10px;
  border: 1px solid #ffffff36;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  right: 32px;
  z-index: 999999;

}


div#ruler_scale_drag::before {
  content: "";
  position: absolute;
  z-index: 9999;
  width: 40px;
  height: 46px;
  background-image: url('/time-line.png');
  background-size: cover;
  top: -5px;
  left: -20px;
}

.layer_active {
  background: rgb(37 99 235);
}

.layers_w button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}


.overflow-scroll::-webkit-scrollbar {

  background-color: rgb(30, 41, 59);
}

.overflow-scroll::-webkit-scrollbar-thumb {

  background-color: rgb(22, 30, 43);

}

.overflow-scroll::-webkit-scrollbar-corner {
  background-color: rgb(30, 41, 59);
}


.text-editor-panel {
  background: rgb(30 41 59);
  padding: 20px;
  border: 1px solid #ffffff36;
  margin: 18px;
  border-radius: 4px;
  position: relative;
}

.text-holder {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff36;
  padding: 8px 0px;
  gap: 8px;
}



.text-holder label {
  color: #fff;
}

.text-holder:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.text-holder input {
  width: 100%;
}

.text-editor-panel .close-button {
  position: absolute;
  right: 13px;
  top: 14px;
  color: #fff;
  font-weight: bold;
}

.text-right {
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  gap: 8px;
}

.text-right button {
  background: rgb(14 14 14);
  width: 100%;
  color: #fff;
  border-radius: 4px;
}

.text_left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.elements_holder {
  border-bottom: 1px solid #ffffff36;
  margin: 0px;
  padding: 6px;
  cursor: pointer;
}

.video_flex_wrapper {
  margin: 20px 0px 0px 0px;
  display: flex;
}

.upload_button {
  margin-top: 20px;
}

.export_button {
  margin: 14px 14px 0px 14px;
  background: rgb(14 14 14);
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px 8px;
}