.popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
}

.popup-close-button svg{
    font-size: 24px;
}
.popup-overlay .field-toggle-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 25px 25px;
    font-weight: 600;
}

  
.field-toggle-icon {
    position: absolute;
    right: -28px;
    font-size: 18px;
}
.popup-field svg{
height: 50px;
}
.popup-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
span.field-title {
    color: #bbbaba;
    font-size: 18px;
}
.popup-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 5px;
    border-bottom: 1px solid #8080807d;
}
/* .relative.mb-4 {
    border: 1px solid #808080a1;
    border-radius: 5px;
} */

.storyline-form-input {
    padding: 20px 10px;
    width: 100%;
    background-color: #404040;
    border-radius: 5px;
    outline: none;
}

.storyline-form-input:active {
    border: unset !important;

}
input.storyline-form-input::placeholder {
    color: #cfcfcfb9;
    font-size: 14px;
}

.popup-container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 45px;
    left: 13px;
    width: 5px;
    background-color: #4caf50;
    z-index: 0;
}


.field-toggle-button {
    position: relative; /* VERY IMPORTANT */
  }
  .status-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d1d5db;
    transition: background-color 0.3s ease;
    position: absolute;
    left: -19px;
}
  
  .status-dot.filled {
    background-color: #22c55e;
    position: absolute;
    left: -19px;
    width: 12px;
    height: 12px;
}
  



.popup-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}


.buttons {
    padding: 5px 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
}


.confirmation-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}


.popup-confirmation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.confirmation-text {
    margin-top: 20px;
    border-bottom: 1px solid #8080807d;
    padding-bottom: 20px
}